.navbar-nav a {
  float: left;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.navbar-nav a:hover {
  background-color: #D4C2FC;
  color: rgb(143, 39, 137);
}

body {
  background-color: #F9F5FF;
}

h1,
h2,
h3 {
  font-family: 'Nunito', 'Helvetica', sans-serif;
  color: #514488;
}

.custom-margin {
  margin-top: 20px;
}

.custom-margin-carousel {
  margin-top: 50px;
}

.carousel-image {
  max-width: 80%;
  height: auto;
}

.small-image {
  max-width: 750px;
  max-height: 700px; 
}
