{% extends 'base.html' %}
{% block title %}Dance Academy Home{% endblock %}

{% block body %}
  <h1>{{ _('Welcome to StudioDanceTracker!') }}</h1>

  <h2>{{ _('Navigation')}}:</h2>
  <ul>
    <li><a href="/admins"> {{ _('View Admin') }} </a></li>
    <li><a href="/students"> {{ _('View all students') }}</a></li>
    <li><a href="/classes"> {{ _('View all classes') }}</a></li>
    <li><a href="/instructors"> {{ _('View all instructors') }}</a></li>
    <li><a href="/enroll-students"> {{ _('Enroll Students') }}</a></li>
    <li><a href="/calendar">{{ _('Class Calendar') }}</a></li>
    
    
  </ul>

  <h2> {{ _('Log In') }}: </h2>
  <form action="/login" method="POST">
    <p>
      {{ _('Email') }} <input type="text" name="email">
    </p>
    <p>
      {{ _('Password')}} <input type="password" name="password">
    </p>
    <p>
      <input type="submit"
    </p>
  </form>



{% endblock %}