{% extends 'base.html' %}
{% block title %}StudioDanceTracker{% endblock %}

{% block body %}

<div class="container-fluid d-flex justify-content-center align-items-center" style="height: 80vh;">
  <div class="row input-fx my-4">
    <div class="col-4 offset-2">
      <img class="img-fluid m-3" src="../static/images/ballet.jpg">
    </div>
    <div class="col-4 offset-1">
      <section class="container mt-4">
        <h1>{{ _('Welcome!') }}</h1>
      </section>
<form action="/login" method="POST">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">{{ _('Email address') }}</label>
    <input type="email" name ="email"  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text"></div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">{{ _('Password') }}</label>
    <input type="password" name="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">{{ _('Remember me') }}</label>
  </div>
  <button type="submit" class="btn btn-dark">{{ _('Submit') }}</button>
</form>
    </div>
  </div>
</div>



<link rel="stylesheet" href="/static/css/style.css"

{% endblock %}